.tools-container {
    max-width: 1200px; 
    margin: auto; 
    display: flex; 
    flex-wrap: wrap; 
}

.card {
    width: calc(33.33% - 2rem); 
    height: 350px; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    transition: transform 0.2s; 
    padding: 1rem; 
    box-sizing: border-box; 
    background: rgba(255, 255, 255, 0.1); 
    border-radius: 10px; 
    backdrop-filter: blur(10px); 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
    position: relative; 
    overflow: hidden;
    color: #fff;
}

.card span {
    z-index: 20;
}

.card:after {
    background: #fff;
    content: "";
    height: 500px;
    left: -75px;
    opacity: 0.2;
    position: absolute;
    top: -50px;
    transform: rotate(35deg);
    width: 15px;
    z-index: -10;
    animation: lightReflection 1.5s linear infinite; 
}

@keyframes lightReflection {
    0% {
        left: -95px; 
    }
    100% {
        left: 120%; 
    }
}

.card img {
    border-radius: 0.5rem 0.5rem 0 0; 
    max-height: 150px; 
    object-fit: cover; 
}

.card h2 {
    margin: 0.5rem 0; 
}

.card p {
    flex-grow: 1; 
}

.card button {
    margin-top: 1rem; 
    width: 100%; 
    box-sizing: border-box; 
}



.glow-on-hover {
    height: 50px; 
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000;
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius:  10px;
}

@keyframes glowing {
    0% { background-position:  0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}


@media (max-width: 768px) {
    .card {
        width: 100%; 
        height: auto; 
        min-height: 300px; 
    }
}



